body {
	margin: 0;
    padding-top: 70px;
	background: url(../img/background.jpg) repeat;
}

.modal {
	padding-right: 0!important;
}

.shopping-cart,
.shopping-cart:hover {
	background: #333!important;
}

.big-welcome-banner {
	background: url(../img/wallpaper.png) no-repeat;
	background-size: cover;
	color: #fff;
	text-shadow: #000 1px 1px 8px;
    margin-top: 50px;
}

.jumbotron p {
    font-size: 18px;
}

.game-box {
    margin-bottom: 30px;
}

.item-price {
    font-size: 20px;
    color: #1B8EF9;
}

footer {
    margin: 20px 0;
}

@media screen and (min-width: 768px) {
    .jumbotron .h1,
    .jumbotron h1 {
        font-size: 50px;
    }

    .modal-dialog {
        width: 400px;
    }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}