body {
	margin: 0;
    padding-top: 70px;
	background: url(../img/background.jpg) repeat;
}

.modal {
	padding-right: 0!important;
}

.shopping-cart-btn,
.shopping-cart-btn:hover {
	background: #333!important;
}

.shopping-cart-container {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2000;
}

.shopping-cart-box {
    display: none;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    float: right;
    min-width: 290px;
    max-width: 40%;
}

.shopping-cart-item {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.shopping-cart-item:last-of-type {
    border-bottom: none;
}

.shopping-cart-item-delete {
    position: absolute;
    right: 0;
    color: red;
}

.shopping-cart-item .caption {
    width: 55%;
    display: inline-block;
    margin-right: -4px;
}

.shopping-cart-item h3 {
    margin-top: 0;
    padding-right: 25px;
    font-size: 20px;
}

.shopping-cart-item img {
    width: 45%;
    vertical-align: top;
}

.shopping-cart-total {
    font-size: 20px;
    padding-top: 10px;
}

.big-welcome-banner {
	background: url(../img/wallpaper.png) no-repeat;
	background-size: cover;
	color: #fff;
	text-shadow: #000 1px 1px 8px;
    margin-top: 50px;
}

.jumbotron p {
    font-size: 18px;
}

.game-box {
    margin-bottom: 30px;
    float: none!important;
    margin-right: -4px;
    vertical-align: top;
}

.game-main {
    border-right: 1px solid #ddd;
}

.item-platform {
    font-size: 16px;
    color: #777;
}

.item-price {
    font-size: 20px;
    color: #1B8EF9;
}

.nomargin {
    margin: 0!important;
}

footer {
    margin: 20px 0;
}

@media screen and (min-width: 768px) {
    .jumbotron .h1,
    .jumbotron h1 {
        font-size: 50px;
    }

    .modal-dialog {
        width: 400px;
    }

    .game-box {
        display: inline-block;
    }
}

@media (max-width: 992px) {
    .game-main {
        border-right: none;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}